# Copy file này và đổi tên thành .env (Tuyệt đối không push file .env lên Git)
PORT=3000

# Chuỗi kết nối đến Supabase (Các thành viên thay mật khẩu mà nhóm trưởng cung cấp vào chỗ [YOUR-PASSWORD])
DATABASE_URL=postgresql://postgres.oypswqnajpvggtmzxuzr:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true

# Key dùng để mã hóa Token Đăng nhập
JWT_SECRET=chuoi_ky_tu_bi_mat_cua_nhom_swp391
